.spacer {
  flex: 1 1 auto;
}

.header{
  display: block;
}

.docs-header {
  height: 35px;
  background: #3f51b5;
  color: #fff;
  font-size: 11px;
  justify-content: center;
  position: fixed;
  display: fixed;
  top: 0;
  /* margin-top: 2%; */
  /* flex: 1 1 auto; */
}

.card{
  width: 20%;
  height: 100%;
}
